<h1>Editing sponsor</h1>

<% form_for(@sponsor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :credit %><br />
    <%= f.text_field :credit %>
  </p>
  <p>
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sponsor %> |
<%= link_to 'Back', sponsors_path %>
