<h1>Listing performers</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for performer in @performers %>
  <tr>
    <td><%=h performer.name %></td>
    <td><%= link_to 'Show', performer %></td>
    <td><%= link_to 'Edit', edit_performer_path(performer) %></td>
    <td><%= link_to 'Destroy', performer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New performer', new_performer_path %>
