<h1>New ocurrence</h1>

<% form_for(@ocurrence) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :dayOfWeek %><br />
    <%= f.text_field :dayOfWeek %>
  </p>
  <p>
    <%= f.label :repeat %><br />
    <%= f.check_box :repeat %>
  </p>
  <p>
    <%= f.label :from %><br />
    <%= f.datetime_select :from %>
  </p>
  <p>
    <%= f.label :to %><br />
    <%= f.datetime_select :to %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ocurrences_path %>
