<h1>Editing occurrence</h1>

<% form_for(@occurrence) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :dayOfWeek %><br />
    <%= f.text_field :dayOfWeek %>
  </p>
  <p>
    <%= f.label :repeat %><br />
    <%= f.check_box :repeat %>
  </p>
  <p>
    <%= f.label :from %><br />
    <%= f.datetime_select :from %>
  </p>
  <p>
    <%= f.label :to %><br />
    <%= f.datetime_select :to %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @occurrence %> |
<%= link_to 'Back', occurrences_path %>
